* {
        margin:0; 
        padding:0;
    }

    body{

        background-image:;

    }

    nav {
        margin:auto;
        text-align: center;
        width: 85%;
        font-family: arial;
    } 

    nav ul {
        background: rgb(50, 168, 82);
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-table;
        width: 100%;
     }

    nav ul li{
        float:left;
    }

    nav ul li:hover{
        background: rgb(32, 140, 62);
    }

    nav ul li:hover a{
        color:#000;
    }

    nav ul li a{
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }


    #header{
        text-align: center;
        color: white;
        font:normal 12px Tahoma,Verdana; /* Setting umum font pada bagian header */
        width:85%; /* Digunakan untuk mengatur lebar header */
        height:100px; /* Digunakan untuk mengatur tinggi header */
        margin-left:auto; /* Digunakan untuk mengatur jarak header dengan tepian layar secara otomatis */
        margin-right:auto; /* Sehingga tampilan header website akan berada tepat di tengah-tengah layar monitor */
        background-color: rgb(67, 110, 88); /*Menambahkan background warna pada header */
    }

    #content{
        display:block;
        width:85%;
        min-height:900px;
        border:silver 1px solid;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        top:30px; /* Content punya jarak 105px dari bagian atas browser*/
                   /* Sehingga tidak tertutup oleh header yg 2 tingkat diatasnya */
        background-color:rgb(228, 236, 240);
    }

    #footer{
        color: white;
        position: relative;
        text-align: center;
        display:block;
        width:85%;
        min-height:70px;
        margin-left:auto;
        margin-right:auto;
        top: 50px; /* Content punya jarak 105px dari bagian atas browser*/
                   /* Sehingga tidak tertutup oleh header yg 2 tingkat diatasnya */
        background-color:rgb(67, 110, 88);
    }
    